[Unit]
Description=etcd
Documentation=https://github.com/coreos/etcd
Conflicts=etcd.service
Conflicts=etcd2.service

[Service]
EnvironmentFile=/etc/etcd.env
Type=notify
Restart=always
RestartSec=5s
LimitNOFILE=40000
TimeoutStartSec=0

ExecStart=/usr/local/bin/etcd --name master01 --data-dir /var/lib/etcd --listen-client-urls http://0.0.0.0:2379,http://0.0.0.0:4001 --advertise-client-urls http://192.168.1.110:2379,http://192.168.1.110:4001 --listen-peer-urls http://0.0.0.0:2380 --initial-advertise-peer-urls http://192.168.1.110:2380 --initial-cluster master01=http://192.168.1.110:2380,master02=http://192.168.1.120:2380,master03=http://192.168.1.130:2380 --initial-cluster-token ETCD_TOKEN --initial-cluster-state new

[Install]
WantedBy=multi-user.target
