# su - user -c 'cd /home/user/compose; docker-compose up -d'
[Unit]
Description=Docker Compose Application Service
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/user/compose
ExecStart=/usr/local/bin/docker-compose-up.sh
ExecStop=/usr/local/bin/docker-compose-down.sh
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
